<aside class="logo">

	{% if page.url == '/index.html' or page.url == '/' %}
		{% assign link = '/about' %}
		{% assign prompt = 'About the Author' %}
	{% else %}
		{% assign link = '/' %}
		{% assign prompt = 'Back to Index' %}
	{% endif %}

	<a href="{{ link | prepend: site.baseurl | prepend: site.url }}" class="">
		<img src="{{ site.logo_url }}" alt="" class="logo-avatar">
	</a>
	<div class="logo-social">
		<a href="https://linkedin.com/in/vijay-bharadwaj-385975165/">
			<img src="assets/linkedin.png" alt="" class="logo-social"><img>
		</a>
		<a href="https://github.com/18vijayb">
			<img src="assets/github-image.png" alt="" class="logo-social"><img>
		</a>
		<a href="https://drive.google.com/file/d/1ZF2xkRo91FWXuoajrAt-3eXRFw0E2V6G/view?usp=sharing">
			<img src="assets/curriculum.png" alt="" class="logo-social"><img>
		</a>
		<a href="mailto:vijay.s.bharadwaj@gmail.com">
			<img src="assets/mail.png" alt="" class="logo-social"><img>
		</a>
	</div>
	<span class="logo-prompt code">{{ prompt }}</span>

</aside>
