{% include head.html %}

  <div id="home" class="section scrollspy">
  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot valign-wrapper">
      <div class="container">
        <br><br>
        <img src="./assets/images/ProfilePicture.png" style="border-radius:50%; max-width: 8vw; max-height:auto; height:auto; width:15.6rem; position:relative; display:block; margin-left:auto; margin-right:auto" alt="Avatar">
        <h5 class="header center teal-text text-lighten-2">{{ site.title }}</h5>
        <div class="row center">
          <h5 class="header col s12 light">{{ site.description }}</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="{{site.parallax_image_one}}" alt="Unsplashed background img 1"></div>
  </div>
</div>

<div id="cookies" style="display:{{site.cookies_banner}}">
  <p style="text-align:left; padding-left:8px"><a value="hide/show" id="check" class="waves-effect waves-light green lighten-1 btn btn-floating pulse" onclick="Materialize.toast('{{site.cookie_accept_message}}', 2000)" ><i class="material-icons">check</i></a></p>
  {% include cookies.html %}
</div>

<div class="row" style="text-align:center">
    <a class="waves-effect waves-light btn grey darken-1" target="_blank" href="{{site.github}}"><i class="material-icons right">code</i>Github</a>
    <a class="waves-effect waves-light btn blue darken-1" target="_blank" href="{{site.linkedin}}"><i class="material-icons right">portrait</i>LinkedIn</a>
    <a class="waves-effect waves-light btn black darken-1" target="_blank" href="{{site.resume}}"><i class="material-icons right">assignment</i>Resume</a>
</div>
<div class="row" style="text-align:center">
    <a class="waves-effect waves-light btn red darken-1" href="#portfolio"><i class="material-icons right">library_books</i>Portfolio</a>
    <a class="waves-effect waves-light btn green darken-1" href="#blog"><i class="material-icons right">work</i>Work Experience</a>
    <a class="waves-effect waves-light btn brown darken-1" href="#contact"><i class="material-icons right">person_add</i>Contact</a>
</div>

<div class="container" style="padding:20px;">
  <div id="portfolio" class="section scrollspy">

  <h3 style="text-align:center;">{{site.portfolio_heading}}</h3>

{% include portfolio_{{site.portfolio_type}}.html %}

</div>


</div>

<div class="container" style="padding:20px;">
  <div id="skills" class="section scrollspy">
   <h3 style="text-align:center;">Tools and Experience</h3>
   {% include skills.html %}
 </div>
</div>




  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">

        </div>
      </div>
    </div>
    <div class="parallax"><img src="{{site.parallax_image_two}}" alt="Unsplashed background img 3"></div>
  </div>


<div class="container" style="padding:20px;">
  <div id="blog" class="section scrollspy">
  <h3 style="text-align:center;">Past Experience</h3>
  {% include blog-feed.html %}
</div>
</div>

<div class="container" style="padding:20px;">
  <div id="contact" class="section scrollspy">
  <h3 style="text-align:center;">Contact</h3>
  {% include contact.html %}
</div>
</div>



{% include nav-burger.html %}

{% include footer.html %}
